django==1.11.1
django-taggit==0.18.1
argparse==1.2.1
git+https://github.com/cpbotha/django-undelete.git
pyserial==3.0
wsgiref==0.1.2
pytz==2016.4
tornado
selenium==2.53.6
coverage
psutil
mysql-python==1.2.5